MONGODB_URL=mongodb://localhost:27017
DB_NAME=disaster_assistance_db
JWT_SECRET_KEY=super_secret_jwt_key_disaster_assistance_2026_semester_project
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
OPENWEATHER_API_KEY=mock_or_real_openweather_key
